netFeijao/BhagaChallWSclient/src/META-INF/wsdl/localhost_8080/WebService/BhagaChallWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="BhagaChallWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WebService/BhagaChallWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemGrade">
<part name="parameters" element="tns:obtemGrade"/>
</message>
<message name="obtemGradeResponse">
<part name="parameters" element="tns:obtemGradeResponse"/>
</message>
<message name="moveTigre">
<part name="parameters" element="tns:moveTigre"/>
</message>
<message name="moveTigreResponse">
<part name="parameters" element="tns:moveTigreResponse"/>
</message>
<message name="posicionaCabra">
<part name="parameters" element="tns:posicionaCabra"/>
</message>
<message name="posicionaCabraResponse">
<part name="parameters" element="tns:posicionaCabraResponse"/>
</message>
<message name="moveCabra">
<part name="parameters" element="tns:moveCabra"/>
</message>
<message name="moveCabraResponse">
<part name="parameters" element="tns:moveCabraResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<portType name="BhagaChallWebService">
<operation name="preRegistro">
<input wsam:Action="http://WebService/BhagaChallWebService/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://WebService/BhagaChallWebService/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://WebService/BhagaChallWebService/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://WebService/BhagaChallWebService/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://WebService/BhagaChallWebService/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://WebService/BhagaChallWebService/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://WebService/BhagaChallWebService/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://WebService/BhagaChallWebService/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://WebService/BhagaChallWebService/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://WebService/BhagaChallWebService/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="obtemGrade">
<input wsam:Action="http://WebService/BhagaChallWebService/obtemGradeRequest" message="tns:obtemGrade"/>
<output wsam:Action="http://WebService/BhagaChallWebService/obtemGradeResponse" message="tns:obtemGradeResponse"/>
</operation>
<operation name="moveTigre">
<input wsam:Action="http://WebService/BhagaChallWebService/moveTigreRequest" message="tns:moveTigre"/>
<output wsam:Action="http://WebService/BhagaChallWebService/moveTigreResponse" message="tns:moveTigreResponse"/>
</operation>
<operation name="posicionaCabra">
<input wsam:Action="http://WebService/BhagaChallWebService/posicionaCabraRequest" message="tns:posicionaCabra"/>
<output wsam:Action="http://WebService/BhagaChallWebService/posicionaCabraResponse" message="tns:posicionaCabraResponse"/>
</operation>
<operation name="moveCabra">
<input wsam:Action="http://WebService/BhagaChallWebService/moveCabraRequest" message="tns:moveCabra"/>
<output wsam:Action="http://WebService/BhagaChallWebService/moveCabraResponse" message="tns:moveCabraResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://WebService/BhagaChallWebService/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://WebService/BhagaChallWebService/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
</portType>
<binding name="BhagaChallWebServicePortBinding" type="tns:BhagaChallWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moveTigre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posicionaCabra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moveCabra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BhagaChallWebService">
<port name="BhagaChallWebServicePort" binding="tns:BhagaChallWebServicePortBinding">
<soap:address location="http://localhost:8080/WebService/BhagaChallWebService"/>
</port>
</service>
</definitions>